body { 
   display: block;
   width: 450px;
   margin: 0 auto;
   padding: 5px 10px;
   border: 1px orange solid;
   font-size: 11px;
   font-family: Verdana, Arial, sans-serif;
   min-height: 400px;
}

